@model SkillMatrix.Model.vwSkillReport
@{
    var skillMatrix = Model.SkillMatrix;
    var counter = 1;
}

@if (skillMatrix.Count > 0)
{
    <Center>
        <div>
            <b>@string.Format("Skill Matrix {0} Querter {1}", Model.SkillMatrixFilter.Year, Model.SkillMatrixFilter.Quarter)</b>
        </div>
        <button class="btn btn-primary btn-sm" type="button" onclick="Excel()">Download</button>
    </Center>
    <table cellspacing="0" cellpadding="0" border="1" class="table table-striped table-hover table-cards">
        <thead>
            <tr>
                <th rowspan="2">Sr.No</th>
                <th rowspan="2">Team</th>
                <th rowspan="2">Name</th>
                <th rowspan="2">Date Hired</th>
                <th rowspan="2">Tenure</th>
                <th rowspan="2">Date Completed</th>
                <th colspan="2">Proficiency Report</th>
                <th colspan="3">Time Spent</th>
                <th colspan="3">Questions Statistics Report</th>
                <th colspan="2">Certification Score</th>
                <th colspan="2">CSAT Score</th>
                <th colspan="2">QC Score</th>
                <th rowspan="2">Overall Score</th>
                <th rowspan="2">Competency Level</th>
                <th rowspan="2">Tenure Level</th>
                <th rowspan="2">Tenure + Competency</th>
            </tr>
            <tr>
                <th>Process Specific</th>
                <th>STAR & OSvC</th>
                <th>Process Specific</th>
                <th>STAR & OSvC</th>
                <th>Total Time Spent</th>
                <th>Process Specific</th>
                <th>STAR & OSvC</th>
                <th>Overall Average</th>
                <th>Certification Score</th>
                <th>Certification Level</th>
                <th>CSAT Score</th>
                <th>CSAT Level</th>
                <th>QC Score</th>
                <th>QC Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in skillMatrix)
            {
                <tr>
                    <td> @counter</td>
                    <td> @item.Team</td>
                    <td> @item.Name</td>
                    <td> @Convert.ToDateTime(item.DateHired).Date.ToShortDateString()</td>
                    <td> @string.Format("{0} years {1} months", item.TenureYears, item.TenureMonths)</td>
                    <td> @Convert.ToDateTime(item.DateCompleted).Date.ToShortDateString()</td>
                    <td> @string.Format("{0}%", item.ProcessSpecific_PR)</td>
                    <td> @string.Format("{0}%", item.StarAndOSvC_PR)</td>
                    <td> @item.ProcessSpecific_TS</td>
                    <td> @item.StarAndOSvC_TS</td>
                    <td> @item.TotalTimeSpent</td>
                    <td> @string.Format("{0}%", item.ProcessSpecific_QSR)</td>
                    <td> @string.Format("{0}%", item.StarAndOSvC_QSR)</td>
                    <td> @string.Format("{0}%", item.AvgQuestionsStatisticsReport)</td>
                    <td> @item.CertificationScore</td>
                    <td> @item.CertificationLevel</td>
                    <td>@if (item.CSATScore != 0)
                        {<span>@string.Format("{0}%", item.CSATScore)</span>}
                    </td>
                    <td>@if (item.CSATScore != 0)
                        {<span>@item.CSATLevel</span>}
                    </td>
                    <td>@if (item.QCScore != 0)
                        {<span>@string.Format("{0}%", item.QCScore)</span>}
                    </td>
                    <td>@if (item.QCScore != 0)
                        {<span>@item.QCLevel</span>}
                    </td>
                    <td> @item.OverallScore</td>
                    <td> @item.CompetencyLevel</td>
                    <td> @item.TenureLevel</td>
                    <td> @item.TenurePlusCompetency</td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
}
else
{
<Center><b>@string.Format("Information not available")</b></Center>
}