@model SkillMatrix.Model.vwQualityReport
@{
    Layout = "_Layout";
    var counter = 1;
    var minDate = Model.QualityFilter.StartDate.ToString("yyyy-MM-dd");
    var maxDate = Model.QualityFilter.EndDate.ToString("yyyy-MM-dd");
    <style>
        th[colspan]:not([colspan="1"]) {
            text-align: center;
        }
    </style>
}
<form method="post" enctype="multipart/form-data" asp-controller="Report" asp-action="Quality">
    <div class="card text-center">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="ml-sm-1">Department: @Html.DropDownListFor(x => x.QualityFilter.Department, new SelectList(Model.lstDepartments, "Key", "Value"), new { @id = "Department", @class = "form-select", @onchange = "SelectedIndexChanged()" })</div>
                <div class="ml-sm-1">ReportType: @Html.DropDownListFor(x => x.QualityFilter.ReportType, new SelectList(Model.lstReportType, "Key", "Value"), new { @id = "ReportType", @class = "form-select" })</div>
                <div class="ml-sm-1">From: <input type="date" id="minDate" value="@minDate" placeholder="Record Date" /></div>
                <div class="ml-sm-1">To: <input type="date" id="maxDate" value="@maxDate" placeholder="Record Date" /></div>
                <div class="ml-sm-1" id="divTargetScore">Target Score: <input type="text" id="TargetScore" value="@Model.QualityFilter.TargetScore"></div>
                <div class="ml-sm-1"><button id="btnShow" class="btn btn-primary btn-sm" type="button" onclick="Show()">Show</button></div>                
            </div>
        </div>
    </div>
</form>
<div id="reportTable">
    @{
        await Html.RenderPartialAsync("_QualityTable", Model);
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        function Show() {
            var filter = {
                StartDate: $("#minDate").val(),
                EndDate: $("#maxDate").val(),
                ReportType: $("#ReportType").val(),
                Department: $("#Department").val(),
                TargetScore: $("#TargetScore").val(),
                PageNumber: 1
            }
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Report/Quality',
                data: filter,
                success: function (response) {
                    $("#reportTable").html('');
                    $("#reportTable").html(response);
                },
                error: function (response) {
                    toastr.error("There is some problem to process your request");
                }
            });
        }

        function Paginate(pageNo) {
            var filter = {
                StartDate: $("#minDate").val(),
                EndDate: $("#maxDate").val(),
                ReportType: $("#ReportType").val(),
                Department: $("#Department").val(),
                TargetScore: $("#TargetScore").val(),
                PageNumber: pageNo
            }
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Report/Quality',
                data: filter,
                success: function (response) {
                    $("#reportTable").html('');
                    $("#reportTable").html(response);
                },
                error: function (response) {
                    toastr.error("There is some problem to process your request");
                }
            });
        }

        function ClearFilter() {
            Show();
        }

        function Excel() {
            var filter = {
                StartDate: $("#minDate").val(),
                EndDate: $("#maxDate").val(),
                ReportType: $("#ReportType").val(),
                Department: $("#Department").val(),
                TargetScore: $("#TargetScore").val(),
            }
            debugger;
            window.location = '/Report/QualityExcel?minDate=' + filter.StartDate + '&maxDate=' + filter.EndDate + '&department=' + filter.Department + '&reportType=' + filter.ReportType + '&targetScore=' + filter.TargetScore;
            setTimeout(function () {
                toastr.success("Quality summary report downloaded successfully");
            }, 200);
        }

            function SelectedIndexChanged() {
                debugger;
                var dept = $("#Department").val();
                var reportType = $("#ReportType").val();
                if (dept == 'OrderManagement' || dept == 'ComCopy') {
                    $("#divTargetScore").hide();
                    if ((reportType != 'WeeklyLevelSummary') && (reportType != 'DailySamplingPercentage')) {
                        $("#ReportType").val("WeeklyLevelSummary");
                    }                    
                }
                else {
                    $("#divTargetScore").show();
                    if ((reportType != 'External') && (reportType != 'Internal') && (reportType != 'TicketStatus') && (reportType != 'TeamLocation')) {
                        $("#ReportType").val("External");
                    }                    
                }
        }

        function toastrOption() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }

        $(document).ready(function () {
            toastrOption();
        });
    </script>
}
