@model SkillMatrix.Model.vwImportAndSave
@{
    Layout = "_Layout";
    var importSkills = Model.ImportSkills;
    var counter = 1;
}
<form method="post" enctype="multipart/form-data" asp-controller="SkillMatrix" asp-action="Index">
    <div class="card text-center">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <span>Select File:</span>
                <input type="file" name="file" />
                <input type="submit" class="btn btn-primary" value="Import" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="ml3">Year: @Html.DropDownListFor(x => x.SkillMatrixFilter.Year, new SelectList(Model.lstYears, "Key", "Value"), new { @class = "form-select" })</div>
                <div class="ml-3">Quarter: @Html.DropDownListFor(x => x.SkillMatrixFilter.Quarter, new SelectList(Model.lstQuarters, "Key", "Value"), new { @class = "form-select" })</div>
                <div><input type="button" class="btn btn-primary" value="Save" id="btnSubmit" /></div>
            </div>            
        </div>
    </div>
    @*<span>Select File:</span>
    <input type="file" name="file" />
    <input type="submit" class="btn btn-primary" value="Import" />
    <br />
    <label>
        Year: @Html.DropDownListFor(x => x.SkillMatrixFilter.Year, new SelectList(Model.lstYears, "Key", "Value"), new { @id = "Year", @class = "myselect" })
    </label>
    <label>
        Quarter:
        @Html.DropDownListFor(x => x.SkillMatrixFilter.Quarter, new SelectList(Model.lstQuarters, "Key", "Value"), new { @id = "Quarter", @class = "myselect" })
    </label>
    <input type="button" class="btn btn-primary" value="Save" id="btnSubmit" />*@
    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
    <input type="hidden" id="fileName" value="@ViewBag.FileName" />
</form>
@if (importSkills.Count > 0)
{
    <hr />
    <table cellspacing="0" cellpadding="0" border="1" class="table table-striped table-hover table-cards">
        <thead>
            <tr>
                <th rowspan="2">Sr.No</th>
                <th rowspan="2">Team</th>
                <th rowspan="2">Name</th>
                @*<th rowspan="2">Date Hired</th>*@
                <th rowspan="2">Date Completed</th>
                <th colspan="2">Proficiency Report</th>
                <th colspan="2">Time Spent</th>
                <th colspan="2">Questions Statistics Report</th>
                <th rowspan="2">CSAT Score</th>
                <th rowspan="2">QC Score</th>
            </tr>
            <tr>
                <th>Process Specific</th>
                <th>STAR & OSvC</th>
                <th>Process Specific</th>
                <th>STAR & OSvC</th>
                <th>Process Specific</th>
                <th>STAR & OSvC</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in importSkills)
            {
                <tr>
                    <td> @counter</td>
                    <td> @item.Team</td>
                    <td> @item.Name</td>
                    @*<td> @Convert.ToDateTime(item.DateHired).Date.ToShortDateString()</td>*@
                    <td> @Convert.ToDateTime(item.DateCompleted).Date.ToShortDateString()</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ProcessSpecific_PR))
                        {@string.Format("{0}%", item.ProcessSpecific_PR)}
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.StarAndOSvC_PR))
                        {@string.Format("{0}%", item.StarAndOSvC_PR)}
                    </td>
                    <td> @item.ProcessSpecific_TS</td>
                    <td> @item.StarAndOSvC_TS</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ProcessSpecific_QSR))
                        {@string.Format("{0}%", item.ProcessSpecific_QSR)}
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.StarAndOSvC_QSR))
                        {@string.Format("{0}%", item.StarAndOSvC_QSR)}
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.CSATScore))
                        {@string.Format("{0}%", item.CSATScore)}
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.QCScore))
                        {@string.Format("{0}%", item.QCScore)}
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
    <hr />
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                debugger;
                var year = $('#Year').val()
                var quarter = $('#Quarter').val()
                var fileName = $('#fileName').val()
                $.ajax({
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/SkillMatrix/SaveSkillMatrix',
                    data: { fileName: $('#fileName').val(), year: $('#Year').val(), quarter: $('#Quarter').val()},
                    success: function (response) {
                        //debugger;
                        //alert("Success: " + response);
                    },
                    error: function (response) {
                        //debugger;
                        //alert("Error: " + response);
                    }
                });
            });
        });
    </script>
}